@model IEnumerable<InfiniteTiers.DevicesStore.Data.Models.UserDevice>

@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary"> @ViewData["Device"]</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Count() < 1)
{
    <h4 class="text-center text-danger">No Transactions.</h4>
}
<style>
    td, th {
        text-align: center;
    }

    a:hover {
        text-decoration: none;
    }
</style>