@model IEnumerable<InfiniteTiers.DevicesStore.Data.Models.Device>


@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">Devices</h1>

<hr />
<div class="row">
    @foreach (var device in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card text-center border-primary">
                <div class="card-header">
                    @device.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">@device.Category.Name</h5>
                    <p class="card-text">@device.Description</p>
                    @if (device.IsActive)
                    {
                        <p class="card-text text-center bg-success">
                            Active
                        </p>
                    }
                    else
                    {
                        <p class="card-text text-center bg-danger">
                            Inactive
                        </p>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="History" asp-route-id="@device.DeviceId" class="btn btn-primary">View Transactions</a>
                </div>
            </div>
        </div>
    }
</div>