@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is simple device store for tracking transactions between employees.</p>
</div>
